header{
    padding: 2px;
    box-shadow: 0 0 3px #aaa;
    color: #66757f;
}

.navbar{
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 590px;
    margin: 0 auto;
}

.navbar-brand{
    width: fit-content;
    height: fit-content;
    margin: 0 5px;
    padding: 0 !important;
}

.navbar-brand > img{
    width: 26px;
    margin: auto 0;
}

.dropdown-toggle{
    color: #66757f;
}

.password-reset-title{
    height: fit-content;
    margin: auto 0;
    font-size: 16px;
}
.dropdown-toggle{
    font-size: 14px;
}


.dropdown-toggle:hover{
    color: #66757f;
}

h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 22px;
}

p{
    font-size: 14px;
    margin: 14px 0;
}

.main-div{
    display: flex;
    flex-direction: column;
    max-width: 590px;
    margin: 10px auto;
    padding: 36px 0;
}

/* İnputun dizaynı */
#repair-input,
#email-input,
.wrong-input{
    box-sizing: border-box;
    width: 332px;
    height: 34px;
    border: 1px solid #ccd6dd;
    outline: 0;
    font-size: 16px;
    border-radius: 18px;
    padding: 7px 15px 5px;
}

/* İnputun açılanda dizaynı */
#repair-input:focus,
#email-input:focus{
    border: 1px solid #1da1f2;
}

/* Yalnış məlumat giriləndə inputun dizaynı */
.wrong-input{
    box-shadow: 0 0 0 1px #dd2e44;
    border: 1px solid #dd2e44;
    color: #c33;
}

/* Buttonun dizaynı */
#search-button,
#submit-button,
.clicked-button{
    margin-top: 25px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 100px;
    padding: 6px 16px;
    width: fit-content;
}

/* Hoverlər */
#search-button:hover,
#submit-button:hover,
.clicked-button:hover{
    background-color: #125680;
}

/* Butona basılanda kənarda çıxan xətlər */
.clicked-button{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #71c9f8;
}

#warning-div{
    color: #c33;
    font-size: 13px;
    margin-top: 10px;
}

#regain-link{
    font-size: 12px;
    text-decoration: none;
    color: #55acee;
    padding-top: 18px;
}

#regain-link:hover{
    color: #55acee;
}