.modal-dialog {
  max-width: 600px !important;
}
.modal-content {
  border-radius: 1rem;
  border: none;
}
.modal-body {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}
.modal-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
}
.modal-header > div {
  flex-basis: 50%;
}
.next-btn {
  flex-basis: 50%;
  text-align: right;
}
.modal-header button {
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  padding: 4px 16px;
}
.modal-header i {
  font-size: 2rem;
  color: #1da1f2;
}

.modal-title {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.4rem !important;
}

/* Input style */

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 5px;
  bottom: 10px;
  left: 9px;
  font-size: 11px;
  opacity: 1;
  font-size: 13px !important;
}
input:focus ~ .floating-label {
  color: #1da1f2;
}

.inputText {
  font-size: 18px;
  height: 55px;
  padding-top: 1rem;
  padding-left: 0.5rem;
  border: 1px solid rgba(91, 112, 131, 0.425);
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.inputText:focus {
  border: 2px solid #1da1f2;
}

.floating-label {
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 16px;
  color: rgb(91, 112, 131);
  transition: 0.2s ease all;
}
.form-group div {
  position: relative;
}

.date {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
}

.phone-input {
  margin-bottom: 1.8rem !important;
}
.use-Email a {
  color: rgb(27, 149, 224) !important;
}

.text {
  color: rgb(91, 112, 131);
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.mid-6 {
  width: 48.5%;
}
.mid-4 {
  width: 22.5%;
}
.mid-5 {
  width: 24.5%;
}
.form-control-lg.small {
  height: 3.6rem;
  padding-right: 1rem;
  font-size: 1.05rem;
  color: black;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  padding-left: 8px;
  color: rgb(15, 20, 25);
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  box-shadow: none !important;
}
select:focus {
  box-shadow: rgb(29 161 242) 0px 0px 0px 1px !important;
}
.mid-4,
.mid-5,
.mid-6 {
  position: relative;
}

svg {
  position: absolute;
  top: 55%;
  right: 15px;
  fill: gray;
}

.upper-label {
  position: absolute;
  font-size: 13px;
  color: rgb(91, 112, 131);
  top: 24px;
  left: 8px;
  display: inline-block;
}
.upper-label-color {
  color: #1da1f2;
}
.testo {
  margin-bottom: 1.8rem !important;
}
.test {
  display: none;
}
.displaying {
  display: block;
}
.limited-number {
  position: absolute;
  right: 0.7rem;
  top: 0.38rem;
  font-size: 0.8rem;
  color: rgb(91, 112, 131);
  display: none;
}
.invalid-feedback {
  padding-left: 0.7rem;
  margin-top: 0.02rem;
}

@media screen and (max-width: 700px) {
  /* .modal {
    position: relative;
  } */
  .modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    min-height: 100%;
    max-width: 100% !important;
  }
  .modal-content {
    border-radius: 0;
    height: 100%;
    padding-bottom: 48px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .text {
    margin-bottom: 0;
  }
}
