.modal-dialog {
  max-width: 600px !important;
}
.modal-content {
  border-radius: 1rem;
  border: none;
}
.modal-body {
  padding-left: 2rem;
  padding-right: 2rem;
}
.modal-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
}
.modal-header > div {
  flex-basis: 50%;
}
.next-btn {
  flex-basis: 50%;
  text-align: right;
}
.modal-header button {
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  padding: 4px 16px;
}
.modal-header i {
  font-size: 2rem;
  color: #1da1f2;
}
