main {
  display: flex;
  flex-direction: column;
  font-family: Verdana, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
}
.main {
  height: 100vh;
}
/* Section 1 css */
.section-1 {
  display: flex;
  flex-direction: column;
  padding: 2.3rem;
  padding-bottom: 3.2rem;
}
.icon-blue {
  font-size: 2.65rem;
  color: rgba(29, 161, 242, 1);
}
.section-1 h1 {
  word-wrap: break-word;
  font-family: inherit;
  font-weight: bold;
  margin-top: 3.25rem;
  margin-bottom: 2.5rem;
}
.section-1 h4 {
  font-family: inherit;
  font-weight: bold;
}
.buttons {
  display: flex;
  flex-direction: column;
}

.sign-up,
.log-in {
  color: rgba(29, 161, 242, 1);
  margin-top: 1rem;
  font-weight: bold;
  flex-basis: 100%;
  padding: 0.7rem;
  text-align: center;
  border-radius: 50px;
  border: 1px solid rgba(29, 161, 242, 1);
  transition: all 0.3s linear;
}
.sign-up {
  color: white;
  background-color: rgba(29, 161, 242, 1);
}
.sign-up:hover,
.log-in:hover {
  text-decoration: none;
}
.sign-up:hover {
  color: white;
  background-color: rgba(30, 142, 212, 0.952);
}
.log-in:hover {
  color: rgba(29, 161, 242, 1);
  background-color: rgba(29, 160, 242, 0.096);
}
/* end of Section 1 css */

/* Section 2 css */
.section-2 {
  background: url('../images/twitter-home-page.png');
  background-size: cover;
  background-position: center;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .icon-white {
  font-size: 13rem;
  color: white;
}
/* end of Section 2 css */

/* footer */
footer {
  padding: 0.8rem 1.5rem;
}
.footer-links {
  text-align: center;
}
.footer-links a,
footer p {
  display: inline-block;
  font-size: 0.85rem;
  padding-right: 0.6rem;
  margin-bottom: 0;
  color: rgb(91, 112, 131);
}
/* end of footer */

@media screen and (min-width: 500px) {
  .section-1 {
    max-width: 600px;
    width: 100%;
    min-width: 485px;
    margin-left: auto;
    margin-right: auto;
  }
  .sign-up {
    margin-right: 1.2rem;
  }
  .sign-up,
  .log-in {
    flex-basis: 50%;
    max-width: 50%;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .section-1 h1 {
    width: 430px;
    font-size: 4.5rem;
  }
  .section-1 h4 {
    font-weight: bolder;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  main {
    flex-direction: row-reverse;
    flex: 1 0 auto;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .section-2 {
    flex-basis: 52%;
  }
  .section-1 h1 {
    width: 100%;
  }
  .section-1 {
    padding-top: 4rem;
    flex-basis: 48%;
    min-width: 630px;
  }
  .section-2 {
    height: auto;
  }
  footer {
    flex-shrink: 0;
  }
  .buttons {
    flex-direction: column;
  }
  .sign-up,
  .log-in {
    max-width: 400px;
  }
  .section-2 .icon-white {
    font-size: 17rem;
  }
}
